body {
    background-color:peachpuff;
}
h1{
    color:maroon  ;
    font-size: 150px;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
h3{
    color: brown;
}
h2{
    color:chocolate;
}
hr {
    
    border-style: none;
    border-top-style : dotted;
    border-color: white;
    border-width: 5px;
    width: 5%;

    
}
.post{
    background-color: red;
}
.news{
    background-color: yellow;
}